# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import scipy.stats as st
from scipy.stats import t

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [17]:
# Your code here:
pokemon_lengendary = pokemon[pokemon['Legendary']==True]
pokemon_nonlengendary = pokemon[pokemon['Legendary']==False]

pokemon_lengendary_mean= pokemon_lengendary['Total'].mean()
pokemon_lengendary_std= pokemon_lengendary['Total'].std()
pokemon_nonlengendary_mean= pokemon_nonlengendary['Total'].mean()
pokemon_nonlengendary_std= pokemon_nonlengendary['Total'].std()

print(pokemon_lengendary_mean)
print(pokemon_lengendary_std)
print(pokemon_nonlengendary_mean)
print(pokemon_nonlengendary_std)

637.3846153846154
60.93738905315346
417.21360544217686
106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:
st.ttest_ind(pokemon_lengendary['Total'], pokemon_nonlengendary['Total'], equal_var=False) # if we don't assume equal variance the test will be more robust

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [19]:
# Your conclusions here:
#Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

"""
 pvalue=9.357954335957444e-47 pvalue is super low so null must go.
 We reject, with a high level of confidence, the null hypothesis H0: m1=m2

"""

'\n pvalue=9.357954335957444e-47 pvalue is super low so null must go.\n\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
# Your code here:

pokemon_water = pokemon[pokemon['Type 1']=='Water']
pokemon_nonwater = pokemon[pokemon['Legendary']!='Water']

pokemon_water_mean= pokemon_water['Total'].mean()
pokemon_water_std= pokemon_water['Total'].std()
pokemon_nonwater_mean= pokemon_nonwater['Total'].mean()
pokemon_nonwater_std= pokemon_nonwater['Total'].std()

print(pokemon_water_mean)
print(pokemon_water_std)
print(pokemon_nonwater_mean)
print(pokemon_nonwater_std)
#They are vey similar

430.45535714285717
113.18826606431458
435.1025
119.963039755519

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [22]:
# Your code here:

st.ttest_ind(pokemon_water['Total'], pokemon_nonwater['Total'], equal_var=False)

Ttest_indResult(statistic=-0.4039038837347508, pvalue=0.6868658344252657)

Write your conclusion below.

In [ ]:
# Your conclusions here:
"""
pvalue=0.6868658344252657 pvalue is greater than 0.05 so null must NOT go.
We don't reject the null hypothesis H0: m1=m2
In the previous step we have already seen that their means (and also std) were very similar so we had an idea that the null
hypothesis could be true.

"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [33]:
# Your code here:

st.ttest_rel(pokemon['Attack'].sample(30), pokemon['Defense'].sample(30)) 
#Ttest_relResult(statistic=-0.6466311561789608, pvalue=0.52295596168158)

Ttest_relResult(statistic=-0.6466311561789608, pvalue=0.52295596168158)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
"""
Ttest_relResult(statistic=-0.6466311561789608, pvalue=0.52295596168158)


Since the pvalue is not lower than 0.05 we can't reject the null hypothesis (H0: mu1=m2).

"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [32]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Your code here:
st.ttest_rel(pokemon['Sp. Atk'].sample(30), pokemon['Sp. Def'].sample(30)) 
#Ttest_relResult(statistic=1.9666906863378015, pvalue=0.0588537062562732)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
"""
Ttest_relResult(statistic=1.9666906863378015, pvalue=0.0588537062562732)

Since the pvalue is not lower than 0.05 we can't reject the null hypothesis (H0: mu1=m2).

"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [39]:
# Your code here:
    
"""
HYPOTHESIS TESTING WITH PYTHON
In the case of our particular Titanic problem, we call the function:   ttest_1samp
On the sample and on the posited ùúá.
The default test is double sided, so if we are doing a uni-sided test we need to halve the p-value
                    ------------ 


IMPORTANT STEPS
----------------
1. H0: \mu1 - mu2 = 0, H1 \mu1-m2 != 0
2. significance= 0.05
3. sample
4/5. compute statistic, comptue p-value (python does both)
6.decide
"""

st.ttest_1samp((pokemon['Defense']- pokemon['Attack']).sample(30), 0)
#Ttest_1sampResult(statistic=-1.5096897092799917, pvalue=0.14194230424472493)
#the pvalue is not low, so we don't reject the null hypothesis (H0: \mu1 - mu2 = 0)

Ttest_1sampResult(statistic=-1.5096897092799917, pvalue=0.14194230424472493)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [40]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [47]:
# Your code here:


pokemon_ct=pd.crosstab(pokemon['Legendary'], pokemon['Type 1']).reset_index()
pokemon_ct
# CROSSTAB FUNCION USEFUL LINK
#https://stackoverflow.com/questions/67597093/python-counting-specific-occurrences-in-dataframe-by-group
#.assign(count=lambda x: x.sum(1)).reset_index()

Type 1,Legendary,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
1,True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

In [51]:
#pokemon_ct[pokemon_ct['Legendary']==False][['Bug','Dark','Dragon','Electric','Fairy','Fighting','Fire','Flying','Ghost','Grass','Ground','Ice','Normal','Poison','Psychic','Rock','Steel','Water']]

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108

In [67]:
pokemon_leg=list(pokemon_ct.iloc[1]) 
pokemon_notleg=list(pokemon_ct.iloc[0])
pokemon_leg.remove(True)
pokemon_notleg.remove(False)
pokemon_leg
pokemon_notleg

[69, 29, 20, 40, 16, 27, 47, 2, 30, 67, 28, 22, 96, 28, 43, 40, 23, 108]

(90.42049130585958,
 5.118547414721707e-12,
 17,
 array([[  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
           4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
           7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ],
        [ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
          47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
          90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ]]))

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [71]:
# Your code here:
obs = np.array([pokemon_leg, pokemon_notleg])
st.chi2_contingency(obs)

(90.42049130585958,
 5.118547414721707e-12,
 17,
 array([[  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
           4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
           7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ],
        [ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
          47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
          90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ]]))

In [ ]:
"""
Returns:	
chi2 : float

The test statistic.

p : float

The p-value of the test

dof : int

Degrees of freedom

expected : ndarray, same shape as observed

The expected frequencies, based on the marginal sums of the table.
"""

In [70]:
g, p, dof, expctd =st.chi2_contingency(obs)
g,p

(90.42049130585958, 5.118547414721707e-12)

In [72]:
dof #degrees of freedom

17

In [73]:
expctd  #The expected frequencies, based on the marginal sums of the table.

array([[  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
          4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
          7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ],
       [ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
         47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
         90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ]])

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:
"""
pvalue is 5.118547414721707e-12 so pvalue<0.05. With a 95% confidence we reject the null hypothesis.
we are testing whether there is a relationship between categorical variables or rather when the variables are independent. 
Our null hupythesis is that there is a relationship between categorical variables
"""

In [75]:
#Perform the test using the log-likelihood ratio (i.e. the ‚ÄúG-test‚Äù) instead of Pearson‚Äôs chi-squared statistic.
#https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html
g, p, dof, expctd = st.chi2_contingency(obs, lambda_="log-likelihood")
g, p
#the p is low, so null must go.

(76.18334439377013, 1.8114936579438646e-09)